extends ../layouts/main-layout.pug



block content
    if errorMessage
        div.alert.alert-danger.col-sm-7 #{errorMessage}
    form(action="/new-password" method="POST")
        input(type="hidden", name="_csrf" value=`${csrfToken}`)
        input(type="hidden", name="userId" value=`${userId}`)
        input(type="hidden", name="passwordToken" value=`${passwordToken}`)
        .form-group.row
            label(for="password").col-sm-2.col-form-label Password
            .col-sm-5
                input.form-control#email(type="password" name="password")
                
        .form-group.row.pt-3
            .col-sm-5.offset-sm-2
                input(type="submit" value="Submit").btn.btn-primary   
           
